{% extends 'fake_news/base.html' %}
{% load staticfiles %}
{% block content%}

<div class="col-md-6 offset-md-3 shadow-lg">
    <h2 class="text-center pt-3 pb-3">Register</h2>
    <div class="col-md-block">
        <form method="POST" action="{% url 'register' %}">
            {% csrf_token %}

            {% if form.errors %}
            <div class="alert alert-warning alert-dismissable shadow-sm rounded" role="alert">

                <button class="close " data-dismiss="alert">
                    <small><sup>x</sup></small>
                </button>
                <p>Your Form Has Errors...</p>
                {% for field in form %}
                {% if field.errors %}
                {{ field.errors }}
                {% endif %}
                {% endfor %}
            </div>
            {% endif %}

            {{ form.as_p }}
            <input type="submit" value="Register" class="btn btn-primary shadow rounded btn-block ">
            <br/>
        </form>
    </div>
</div>
{% endblock %}